body{
    display: flex;
    flex-direction: column;
    background-color: teal;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto
}
article{
    flex: 2;
    overflow-y: auto
}
aside{
    flex: 1;
    overflow-y: auto
}
a:hover{
    text-decoration: none;
    color:white;
    text-shadow: 0px 1px 3px white;
}
a{
    text-shadow: 0px 1px 3px black;
}