body{
    display: flex;
    flex-direction: column;
    background-color: teal;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto
}
article{
    flex: 2;
    overflow-y: auto
}
aside{
    flex: 1;
    overflow-y: auto
}
header{
    color:white;
    text-shadow: 0x 1x 3x black;
}